*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
}
body
{
   background-image:url(https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/cricpro-bg.png);
   background-color: white;
   background-repeat: no-repeat; 
   background-size: 50%;
   margin-left: 10%; 
   background-position:bottom right;
   padding-right: 5%;

}
#head
{
 padding-bottom: 2%;
}
#header 
{
 height: 50px;
 width:1100px;
}

#header img
{
 margin-left:900px;
 padding-top:2%;
 height: 44px;
}

h1 
{
   font-style:normal;
   font-size: 40px;
   font-weight: 200px;
   font-family: 'Nunito Sans', sans-serif;
   text-shadow: 1px 3px 3px rgb(141, 140, 140);
}
h3{
   color: grey;
   font-size: 1em;
}
#column1
{
 background-color: #F05033;
 color: white;
 font-weight: bold;
 font-family: 'Nunito Sans', sans-serif;
}
tr{
   background-color: white;
}
a
{
   text-decoration: none;
   color: #6495ED;
}
table
{
 border-collapse: collapse;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
 width: 800px;
 height:400px;
 font-size: 0.85em;
 font-family: 'Nunito Sans', sans-serif;
}

tr
{
 border-bottom: 1px solid grey;
}

footer{
   padding-top: 2%;
}
.one
{
 padding-left: 20px;
}

.two
{
 color: grey;
}
.three,.four,.five,.six,#align
{
 text-align: center;
}
.seven
{
 text-align:right;
 padding-right: 10px;
}
#column2 .one
{
 font-weight: bold;
}
.three{
 font-weight: bold;
}
